h1{
    color: darkred;
    text-align: center;
    font-size: 50px;

}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: justify;

}


.texto-vermelho{
    color: blue;
}

#linha3 {
color:blueviolet
}

