body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: grey;
}
.container{
    width: 80%;
    margin: auto;   
}

#Dados{
    background-color: white;
    display: flex;
    flex-direction: row;
    box-shadow: -10px 5px 20px 0px #292a29;
}
#perfil-card{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.img-perfil{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.card-padding{
    padding: 50px;
}

#card-dados{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#contato{
    display: flex;
    justify-content: space-evenly;
    text-align: center;

}
.btm{
    border: 2px solid black;
    border-radius: 20px;
    padding: 7px 50px;
    font-weight: 700;
    columns: #000000;
    text-decoration: none;
    user-select: none;

}
h1{
    font-size: 50px
    ;
}